/* here in a css module, you cannot put element selectors*/
/* 
body {
    background-color: hotpink;
}

p {
    color: chartreuse
} */

.greenText {
    color: chartreuse;
}

.divBorder {
    border-style: solid;
    border-radius: 10px;
    border-color: black;
}