.mainContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    height: 100vh;
    width: 100vw;
    background-color: coral;
}

/* .projectContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 80%;
    height: 50%;
    gap: 10px;
} */

.project {
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0px 0px 10px 0px rgba(18, 18, 18, 0.75);
    -moz-box-shadow: 0px 0px 10px 0px rgba(18, 18, 18, 0.75);
    -webkit-box-shadow: 0px 0px 10px 0px rgba(18, 18, 18, 0.75);
    -khtml-box-shadow: 0px 0px 10px 0px rgba(18, 18, 18, 0.75);



}
.project img {
    width: 100%;
    height: 100%;
    object-fit: cover; 
}
.project img:hover {
    transform: scale(1.1);
    transition: transform 0.5s ease-in-out;
}
.projectCopy {
    background-color: #f8a058;
    box-shadow: 0px 0px 10px 0px rgba(18, 18, 18, 0.75);
    opacity: 45px;
    max-width: 550px;
    height: 275px;
    font-weight: 600;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
    

}
.projectTitle {
    color: black;
    text-align: center;
    margin: 6px 5px 0px 15px;
    font-size: 1rem;
    font-family: 'Courier New', Courier, monospace;
    font-weight: 500;
    
}

.projectDescription {
     display: flex;
    color: white;
    text-align: left;
    margin: 6px 5px 0px 15px;
    font-size: 1.1rem ;
    font-family: 'Courier New', Courier, monospace;
    word-spacing: 0px;
    letter-spacing: 1.5px;
    font-weight: 600;
    line-height: 1.6rem;
}
.h2 {
    color: black;
    width: fit-content;
    font-size: 1.5rem;
    font-family: 'Courier New', Courier, monospace;
    font-weight: 500;
    background-color: white;
    margin: 0 auto;
    margin-top: 20px;
}

.projectTitle p1 {
    display: flex;
    justify-content:center;
    color: rgb(255, 255, 255);
    font-size: 1.1rem;
    text-align: center;
    font-weight: 600;
    font-family: 'Courier New', Courier, monospace;
    /* word-spacing: 0px; */
    letter-spacing: 1px;
    margin-top: 15px;

}
.projectTitle p2 {
    display: flex;
    justify-content:center;
    color: rgb(255, 255, 255);
    font-size: 1.1rem;
    text-align: center;
    font-weight: 600;
    font-family: 'Courier New', Courier, monospace;
    /* word-spacing: 0px; */
    letter-spacing: 1px;
    margin-top: 15px;

}
.projectTitle p2:hover {
    display: flex;
    justify-content:center;
    color: rgb(255, 255, 255);
    font-size: 1.1rem;
    text-align: center;
    font-weight: 600;
    font-family: 'Courier New', Courier, monospace;
    word-spacing: 0px;
    letter-spacing: 1px;
    margin-top: 15px; 
    text-decoration: underline;
    cursor: pointer;
    transform: scale(1.1);
    transition: transform 0.5s ease-in-out;
    


}
 /* .projectTitle h2 {
    margin: 10px 5px 0px 15px;
    width: fit-content;
    background-color: rgb(255, 255, 255);
} */
.heading {
    color: black;
    width: fit-content;
    margin-bottom: 50px;

    text-align: center;
    margin-top: 10px;
    font-size: 1.5rem;
    font-family: 'Courier New', Courier, monospace;
    font-weight: 500;
    
    background-color: white
}
.title {
    font-size: 1.5rem;
    color: rgb(0, 0, 0);
    font-family: 'Courier New', Courier, monospace;
    margin-top: 10px;
    margin-bottom: 10px;
}

/* make mobile responsive */

@media (max-width: 768px) { 
    .mainContainer{
        display: flex;
        flex-direction: column;
        justify-content: center;
        height: 100vh;
        width: 100vw;
        margin-left: 7px;
    }
    .title {
        margin: 0 auto;
        height: 10%;
    }
    .project {
        /* display: flex;
        align-items: center;
        justify-content: center;
        width: 80%;
        height: auto;
    
        box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.75); */
    }
    .projectCopy {
       margin-top: 10px;;
    
    }
    .projectTitle {
         margin-left: 30px;
        width: 100%;
        height: auto;
    }
    .project img {
        width: auto;
        height: 200px;
    }
    
};