.typingText {
 
    color: white;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    height: auto;
    width: 100vw;
    margin: 0;
    padding: 0;
    font-size: 3.5rem;
    font-family: 'Courier New', Courier, monospace;
    font-weight: 100;
    letter-spacing: 0.1em;
    white-space: pre-line;
    text-align: center;

}

.mainContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
    height: 100vh;
    animation-delay: 5s;

}
.subHeading {
    font-size: 2rem;
    font-weight: 100;
    color: white;
    margin-top: .5rem;
    animation: fadeIn 5s;
 

}

/* animate fade in for mall text  */
@keyframes fadeIn {
    0% {
        opacity: 0;

    }
    100% {
        opacity: 1;
    }
}


@media (max-width: 768px) {
    .text {
        font-size: 1.5rem;
        align-items: center;
        align-content: center;
        justify-content: center;
    }
    .subHeading {
        font-size: 1rem;
    }
    .subHeading2 {
        font-size: 1rem;
    }
    .links {
        gap: 25px;
        margin-top: 10px;
    }
}
